/*                   GÉNÉRAL                       */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
   
}

:root {
    --couleur-principale: #0600b7;
    --couleur-secondaire: #ffef00;
    --bleu-secondaire: #030068;
    --bleu-tertiaire: #020037;
    --couleur-police: rgb(237, 233, 227);
}

html {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--couleur-principale);
}

header {
    background: var(--couleur-principale);
    height: 100%;
}

header,
section {
    color: var(--couleur-police);
}

#logo-container {
    width: 100px;
}

#logo-container img {
    width: 100%;
}

#image-burger-menu-open {
    width: 30%;
    margin: 0 auto;
}

#image-burger-menu-open img {
    width: 100%;
}

#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
}

#burger-menu {
    cursor: pointer;
}

.barre {
    display: block;
    width: 50px;
    height: 7px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--couleur-secondaire);
}

#burger-menu.active .barre:nth-child(2) {
    opacity: 0;
}

#burger-menu.active .barre:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
}

#burger-menu.active .barre:nth-child(3) {
    transform: translateY(-19px) rotate(-45deg);
}

#burger-menu-nav {
    position: fixed;
    left: -105%;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-color: var(--couleur-principale);
}

#burger-menu-nav-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#burger-menu-nav-flex ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 1.5em;
}

#burger-menu-open {
    position: absolute;
    top: 3%;
    right: 3%;
}

#burger-menu-nav.active {
    left: 0;

}

#burger-reseaux-sociaux {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.burger-menu-fixed {
    position: fixed;
}

#copyright {
    width: 100%;
    height: 15%;
    background-color: var(--bleu-secondaire);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-shrink {
    width: 300px;
}


footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--couleur-police);
    background-color: #02001e;
}

footer p {
    margin-bottom: .5em;
}

#footer-title {
    font-size: 2em;
}

/*                                           */

/*                CARROUSEL                  */

.owl-carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, .5);
}

.slide-1 {
    background: url(images/slider1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-2 {
    background-image: url(images/slider2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-3 {
    background-image: url(images/slider3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.owl-dots {
    display: none;
}

/*                                                          */
/*****************************************************************fin caroussel*************************************************************************/




/*******************************************************titre nos inspiration**************************************/

.titre-inspiration {
    text-align: center;
    padding: 5%;


}

.titre-inspiration h1 {

    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: var(--couleur-police);
}

/*********************************************Prod-inspi************************************************************/



.contenaire-inspi {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:5%;
    


}



.contenaire-inspi .produit {
    display: flex;
    flex-direction: column;

}





.contenaire-inspi .produit .img-prod img {
    width: 146px;
    height: 133px;
    border-radius: 15px;
    cursor: pointer;



}

.contenaire-inspi p {
    text-align: center;
    padding: 10%;
    font-size: 0.9em;

}

/*
.contenaire-inspi:after {
    content: "";
    display: table;
    clear: both;
}*/


@media (min-width:500px) {
    
    .contenaire-inspi .produit .img-prod img {
        width: 187px;
        height: 112px;
        
    
    
    
    }
}

@media (min-width:600px) {
    
    .contenaire-inspi .produit .img-prod img {
        width: 257px;
        height: 152px;
        
    
    
    
    }
}



@media (min-width:850px) {
    
    .contenaire-inspi .produit .img-prod img {
        width: 387px;
        height: 192px;
        
    
    
    
    }
    
}
@media (min-width:1000px) {
    
    .contenaire-inspi .produit .img-prod img {
        width: 415px;
        height: 230px;
        
    
    
    
    }
}



/******************************************************modal*****************************/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
   background-color: rgba(0, 0, 0, 0.658);
   

}

/*******************************************Contenu du modal ******************************/



.modal-content {
    position: relative;
    height: 500px;
    margin: auto;
    width: 90%;
    
    
}

.modal-content img {
    width: 100%;
   height: 40vh;

}


.mySlides {
    display: none;
}

.mySlides img {
     border-radius: 25px;
}/*
@media (min-width:750px) {

    .mySlides img {
    height: 51vh;
    
}
}

@media (min-width:1100px) {

    .mySlides img {
    height: 60vh;
    
}
}*/
@media (min-width:850px) {
    
    .modal-content img {
        
        height: 51vh;
        
    
    
    
    }
    
 

   
  .modal .vignettes {
    float: left;
    width: 25%;
    height: 200px;
  
  
}
  
}


/************************************** vignettes *******************************************/



.vignettes {
    float: left;
    width: 25%;
    height: 15%;
    margin-left: 7%;
    overflow: hidden;
    margin-bottom: 3%;
    border: 1px var(--couleur-secondaire) solid;
    border-radius: 30px;
    margin-top: 3%;
  
}


.vignettes:hover {
    
   
     border: 2px var(--couleur-secondaire) solid;
     border-radius: 25%;
 
   

}

img.apercu {
    width: 100%;
    opacity: 0.6;
    height: 100%;
    transition: 0.3s;
}



/******************************************************* modal slide *******************************************/





/*********************************************** modal boutton fermer *****************************************************/


.modal .close:hover {
    color: var(--couleur-secondaire);
   transform: scale(2);
}



.modal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: var(--couleur-secondaire);
    text-decoration: none;
    cursor: pointer;
}



/****************************************modal boutton Next & previous ****************************************************/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */



.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/**************************************************** effet boutton de déplacement ***************************************/

.prev:hover,
.next:hover {
    background-color: var(--couleur-principale);
    color: var(--couleur-secondaire);

}

/******************************************************************** Number text (1/3 etc) ***************************************/
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}




.active-apercu,
.apercu:hover {
    opacity: 1;
}







/***************************************************** media query ************************************************/



@media (min-width: 1100px) {




    #footer {
        position: relative;
    }

    #footer-contact {
        position: absolute;
        right: 5%;
    }



}