/*                   GÉNÉRAL                       */

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

:root{
    --couleur-principale: #0600b7;
    --couleur-secondaire: #ffef00;
    --bleu-secondaire: #030068;
    --bleu-tertiaire: #020037;
    --couleur-police: rgb(237, 233, 227);
}

html{
    height: 100%;
    width: 100%;
}
body {
    background-color: var(--couleur-principale);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}

header{
    background: var(--couleur-principale);
    height: 100%;
}

header, section{
    color: var(--couleur-police);
}

#logo-container{
    width: 100px;
}

#logo-container img{
    width: 100%;
}

#image-burger-menu-open{
    width: 30%;
    margin: 0 auto;
}

#image-burger-menu-open img{
    width: 100%;
}

#header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
}

#burger-menu{
    cursor: pointer;
}

.barre{
    display: block;
    width: 50px;
    height: 7px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--couleur-secondaire);
}

#burger-menu.active .barre:nth-child(2){
    opacity: 0;
}

#burger-menu.active .barre:nth-child(1){
    transform: translateY(14px) rotate(45deg) ;
}

#burger-menu.active .barre:nth-child(3){
    transform: translateY(-19px) rotate(-45deg) ;
}

#burger-menu-nav{
    position: fixed;
    left: -105%;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 100;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    background-color: var(--couleur-principale);
}

#burger-menu-nav-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#burger-menu-nav-flex ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    gap: 1.5em;
}

#burger-menu-open{
    position: absolute;
    top: 3%;
    right: 3%;
}

#burger-menu-nav.active{
    left: 0;

}

#burger-reseaux-sociaux{
    display: flex;
    justify-content: center;
    gap: 10%;
}

.burger-menu-fixed{
    position: fixed;
}

#copyright{
    width: 100%;
    height: 15%;
    background-color: var(--bleu-secondaire);
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-shrink{
    width: 300px;
}


footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--couleur-police);
    background-color: #02001e;
}

footer p{
    margin-bottom: .5em;
} 

#footer-title{
    font-size: 2em;
}

/*                                           */           

/*                CARROUSEL                  */
/*
.owl-carousel{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.slide{
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}

.slide::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0,0,0,.5);
}

.slide-1{
    background: url(images/image-slider1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-2{
    background-image: url(images/image-services.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-3{
    background-image: url(images/image-inspiration.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.owl-dots{
    display: none;
}*/

/*                                                          */

/*******************************************************titre nos service**************************************/

.titre-service {
    text-align: center;
    padding: 5%;
}

.titre-service h1 {

    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: var(--couleur-police);
}


/************contenaire option************************************/


.option {
    margin-left: 25px;
    margin-right: 25px;
    background-color: var(--bleu-secondaire);
    margin-bottom: 55px;


}


/****************************tabs*******************************/



.button-mode {
    display: flex;
    width: 100%;


}

.button-mode button {
    width: 100%;
    padding: 1em;
}

.button-mode div {
    width: 100%;
}


.w2-bar-item {
    background-color: var(--couleur-secondaire);
    color: var(--bleu-tertiaire);
    border: none;
    cursor: pointer;

}

.nw2-bar-item {
    background-color: var(--bleu-tertiaire);
    color: var(--couleur-police);
    border: none;
    cursor: pointer;

}





/******************************************livraison****************************/


#nos-services {
    width: 100%;
}

.livraison {

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bleu-tertiaire);
}

.livraison p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/************************************************paiment*************************************/

.paiement {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bleu-tertiaire);

}

.titreh31,
.titreh32,
.titreh33 {
    padding: 25px;

}

.fois {
    border: 2px solid var(--couleur-police);
    border-radius: 50%;
    background-color: var(--couleur-principale);
    text-align: center;
    width: 20%;
    margin: 0 auto;
    padding: 3%;

}

.carte {
    display: flex;
    justify-content: space-evenly;

}

.paypal {
    display: flex;
    justify-content: center;
    width: 100%;


}




.picture {
    display:flex;
    justify-content:center;
    width: 100%;
    padding-top: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.picture img {
    width: 363px;
    height: 333px;
}

@media (min-width:1100px){

#footer{
    position: relative;
}

#footer-contact{
    position: absolute;
    right: 5%;
}



}
@media (min-width:1100px) {




    .livraison,
    .paiement {

        flex-direction: row;
    }

    .button-mode {

        width: 45%;


    }

    .text-livraison, .pay {
        width: 60%;
        margin-top: 3%;
        margin-left: 5%;
    }

    .picture img {
        
        width: 571px;
    height: 546px;
   
    }
    .picture{
        width: 48%;
        padding-top: 0;
    
        padding-bottom: 0;
    }
}


/*********************************************************************************carousel****************************************************************************/

.owl-carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    /*contenu depassant sera caché*/


}

.slide {
    width: 100%;
    height: 60vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}


.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 450px;*/
    height: 60vh;

}

.slide-1 {
    background-image: url(images/services-header-stock.png);

}

.slide-2 {
    background-image: url(images/services-carte\ bleu.jpg);

}