/*                   GÉNÉRAL                       */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

:root {
    --couleur-principale: #0600b7;
    --couleur-secondaire: #ffef00;
    --bleu-secondaire: #030068;
    --bleu-tertiaire: #020037;
    --couleur-police: rgb(237, 233, 227);
}

html {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--couleur-principale);
}

header {
    background: var(--couleur-principale);
    height: 100%;
}

header,
section {
    color: var(--couleur-police);
}

#logo-container {
    width: 100px;
}

#logo-container img {
    width: 100%;
}

#header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--couleur-police);
    background-color: #02001e;
}

footer p {
    margin-bottom: .5em;
}

#footer-title {
    font-size: 2em;
}


.background-head {
    width: 100vw;
    height: 350px;
}

.background-head-img {
    background-image: url(img/canapé2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;



}

/*******************************************************titre nos service**************************************/

.titre-service {
    text-align: center;
    padding: 5%;
}

.titre-service h1 {

    font-weight: 400;
    font-size: 32px;
    line-height: 39px;

    color: var(--couleur-police);
}


/************contenaire option************************************/


.option {
    margin: 25px;
    background-color: var(--bleu-secondaire);
    

}


/****************************tabs*******************************/



.button-mode {
    display: flex;
    width: 100%;
    

}

.button-mode button {
    width: 100%;
    padding: 1em;
}

.button-mode div {
    width: 100%;
}


.w2-bar-item {
    background-color: var(--couleur-secondaire);
    color: var(--bleu-tertiaire);
    border: none;
    cursor: pointer;

}

.nw2-bar-item {
    background-color: var(--bleu-tertiaire);
    color: var(--couleur-police);
    border: none;
    cursor: pointer;

}





/******************************************livraison****************************/


#nos-services {
    width: 100%;
}

.livraison {

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bleu-tertiaire);
}

.livraison p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/************************************************paiment*************************************/

.paiement {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--bleu-tertiaire);

}
.titreh31, .titreh32, .titreh33 {
    padding:25px;

}
.fois {
    border: 2px solid var(--couleur-police);
    border-radius: 50%;
    background-color: var(--couleur-principale);
    text-align: center;
    width: 33%;
    margin: 0 auto;
    padding: 15px;

}

.carte {
    display: flex;
    justify-content: space-evenly;

}

.paypal {
display: flex;
justify-content: center;
width: 100%;


}




.picture {

    width: 100%;
    padding-top: 20px;
}

.picture img {
    width: 100%;
    
}
@media (min-width:1100px) {



    
    .livraison, .paiement {

        flex-direction: row;
    }
    .button-mode {
        
        width: 45%;
    
    
    }

    .picture {
        margin-left: 25px;
    }
}


/*********************************************************************************carousel****************************************************************************/

.owl-carousel {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    /*contenu depassant sera caché*/


}

.slide {
    width: 100%;
    height: 60vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}


.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 450px;*/
    height: 60vh;

}

.slide-1 {
    background-image: url(img/image-services.png);

}

.slide-2 {
    background-image: url(img/service-header-cb.jpg);

}